#restaurant-list {
  width: 100%;
  margin-top: 30px;
  border-radius: 8px;
  color: black;
}

#restaurant-list .item {
  background-color: white;
  border-radius: 8px;
  display: flex;
  padding: 5px;
}

#restaurant-list .item+div {
  margin-top: 20px;
}

#restaurant-list .item h2 {
  font-size: 22px;
}

#restaurant-list .item .item-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#restaurant-list .item .item-options .rating {
  display: flex;
  flex: 1;
  align-items: center;
}

#restaurant-list .item .item-options .rating img {
  width: 20px;
  margin-right: 10px;
}

#restaurant-list .item .item-options .food-types span {
  background-color: gray;
  border-radius: 20px;
  color: white;
  padding: 0px 15px;
}

#restaurant-list .item .item-options .food-types span+span {
  margin-left: 5px;
}

#restaurant-list .item .isOpen span {
  border-radius: 20px;
  color: white;
  padding: 0px 20px;
}

#restaurant-list .item .isOpen span[data-isopen='true'] {
  background-color: green;
}

#restaurant-list .item .isOpen span[data-isopen='false'] {
  background-color: red;
}